.product{
    padding: 0 0 5px 0;
    height: 400px;
    .product-img{
        width: 100%;
        min-height: 250px;
        height: 250px;
        object-fit: cover
    }
    .product-tittle{
        max-height: 24px;
        word-wrap: unset;
        text-overflow: ellipsis;
    }
}